Repository JoltzRewards/joltz, changes with the labels that .github/labeler.yml gives for each.
All labels: @trubittech/web-playground, @trubittech/docs, @trubittech/mutable-nft, @trubittech/ui, workflows, infrastructure

fix: typings for user model/schema
  applications/consumer-backend/modules/user/userModel.ts
Labels: none

chore: update ignored files for sensitive info
  .gitignore
Labels: none

chore: add Stacks NFT deployment service
  applications/deploy/.firebaserc
  applications/deploy/.gitignore
  applications/deploy/.prettierrc
  applications/deploy/.vscode/settings.json
  applications/deploy/README.md
  applications/deploy/account.json
  applications/deploy/firebase.json
  applications/deploy/functions/.eslintrc.json
  applications/deploy/functions/package.json
  applications/deploy/functions/src/index.ts
  applications/deploy/package.json
  applications/deploy/tests/deploy.hurl
  applications/deploy/tsconfig.dev.json
  applications/deploy/tsconfig.json
Labels: none

fix: consumer-backend logfile location
  .vscode/settings.json
  applications/consumer-backend/utils/logger/winston.ts
Labels: none

fix: replace npm usage with yarn
  applications/consumer-backend/package.json
  applications/deploy/README.md
  applications/deploy/firebase.json
  applications/deploy/package.json
Labels: none

fix: extend existing base tsconfig/eslint configurations
  applications/deploy/.eslintrc.json
  applications/deploy/.vscode/settings.json
  applications/deploy/tsconfig.json
Labels: none

fix: move functions source; fix dependencies
  applications/deploy/firebase.json
  applications/deploy/functions/package.json
  applications/deploy/functions/src/index.ts
  applications/deploy/package.json
  package.json
  yarn.lock
Labels: none

chore: dictionary additions
  .vscode/settings.json
Labels: none

feat: dotenv + use process.env for configurable/sensitive consts
  .gitignore
  applications/deploy/.env.example
  applications/deploy/functions/src/index.ts
  applications/deploy/package.json
Labels: none

feat: generate initial storage package
  packages/storage/README.md
  packages/storage/package.json
  packages/storage/src/StorageBridge.ts
  packages/storage/src/types.ts
  packages/storage/tsconfig.json
  yarn.lock
Labels: none

feat: generate vite ts package and migrate previous work
  .lintstagedrc.json
  .vscode/settings.json
  package.json
  packages/storage/.eslintignore
  packages/storage/.eslintrc
  packages/storage/.gitignore
  packages/storage/docs/GeneratedREADME.md
  packages/storage/dts-bundle-generator.config.ts
  packages/storage/jest.config.ts
  packages/storage/package.json
  packages/storage/src/index.ts
  packages/storage/test/sum.test.ts
  packages/storage/tsconfig.json
  packages/storage/vite.config.ts
  yarn.lock
Labels: none

fix: build issues with types
  packages/storage/src/StorageBridge.ts
  packages/storage/src/types.ts
Labels: none

feat: finish lifecycle scripts; update and fix tests
  packages/storage/package.json
  packages/storage/src/StorageBridge.ts
  packages/storage/src/types.ts
  packages/storage/test/adapter.test.ts
  packages/storage/test/bridge.test.ts
  packages/storage/test/sum.test.ts
  packages/storage/vite.config.ts
  yarn.lock
Labels: none

feat: add adapter and bridge typings from docs
  packages/storage/src/types.ts
Labels: none

chore: disable jest ci testing workflow
  .github/workflows/analyze_pull_request.yml
Labels: workflows

feat: add majority of progress for pulumi
  packages/pulumi/Pulumi.dev.yaml
  packages/pulumi/Pulumi.yaml
  packages/pulumi/README.md
  packages/pulumi/components/BrandNode.ts
  packages/pulumi/components/index.ts
  packages/pulumi/index.ts
  packages/pulumi/package.json
  packages/pulumi/tsconfig.json
  yarn.lock
Labels: none

feat: improve stack creation/call stack.up
  packages/pulumi/index.ts
Labels: none

feat: add ec2.instance and initial userData
  packages/pulumi/components/BrandNode.ts
Labels: none

chore: cleanup / remove comments
  packages/pulumi/components/BrandNode.ts
Labels: none

feat: add createStack fn; export createBrandNode
  packages/pulumi/index.ts
Labels: none

feat: add umbrel install userData
  packages/pulumi/components/BrandNode.ts
Labels: none

chore: reorg
  packages/pulumi/src/components/BrandNode.ts
  packages/pulumi/src/components/index.ts
  packages/pulumi/src/index.ts
Labels: none

chore: add .envrc to gitignore
  .gitignore
Labels: none

chore: local testing cleanup; add some debug logs
  packages/pulumi/Pulumi.dev.yaml
  packages/pulumi/index.ts
  packages/pulumi/package.json
  packages/pulumi/src/components/BrandNode.ts
  packages/pulumi/src/functions.ts
  packages/pulumi/src/scratchpad/local-testing.ts
  yarn.lock
Labels: none

docs: generate changeset
  .changeset/yellow-stingrays-return.md
Labels: infrastructure

Update README.md
  README.md
Labels: none

.github/labeler.yml:

'@trubittech/web-playground':
  - applications/web-playground/*
  - applications/web-playground/**/*

'@trubittech/docs':
  - docs/*
  - docs/**/*

'@trubittech/mutable-nft':
  - packages/mutable-nft/*
  - packages/mutable-nft/**/*

'@trubittech/ui':
  - packages/ui/*
  - packages/ui/**/*

'workflows':
  - .github/workflows/*

'infrastructure':
  - .changeset/**/*
  - .husky/**/*
