Repository JoltzRewards/joltz, changes with the labels that .github/labeler.yml gives for each.
All labels: @trubittech/web-playground, @trubittech/docs, @trubittech/mutable-nft, @trubittech/ui, workflows, infrastructure

.github/labeler.yml:

'@trubittech/web-playground':
  - applications/web-playground/*
  - applications/web-playground/**/*

'@trubittech/docs':
  - docs/*
  - docs/**/*

'@trubittech/mutable-nft':
  - packages/mutable-nft/*
  - packages/mutable-nft/**/*

'@trubittech/ui':
  - packages/ui/*
  - packages/ui/**/*

'workflows':
  - .github/workflows/*

'infrastructure':
  - .changeset/**/*
  - .husky/**/*

feat: add custom fonts
  docs/static/fonts/custom/CustomFont-Black.woff
  docs/static/fonts/custom/CustomFont-Black.woff2
  docs/static/fonts/custom/CustomFont-BlackItalic.woff
  docs/static/fonts/custom/CustomFont-BlackItalic.woff2
  docs/static/fonts/custom/CustomFont-Bold.woff
  docs/static/fonts/custom/CustomFont-Bold.woff2
  docs/static/fonts/custom/CustomFont-BoldItalic.woff
  docs/static/fonts/custom/CustomFont-BoldItalic.woff2
  docs/static/fonts/custom/CustomFont-Book.woff
  docs/static/fonts/custom/CustomFont-Book.woff2
  docs/static/fonts/custom/CustomFont-BookItalic.woff
  docs/static/fonts/custom/CustomFont-BookItalic.woff2
  docs/static/fonts/custom/CustomFont-Medium.woff
  docs/static/fonts/custom/CustomFont-Medium.woff2
  docs/static/fonts/metro/MetroSans-Bold.otf
  docs/static/fonts/metro/MetroSans-BoldItalic.otf
  docs/static/fonts/metro/MetroSans-Book.otf
  docs/static/fonts/metro/MetroSans-BookItalic.otf
  docs/static/fonts/metro/MetroSans-Light.otf
  docs/static/fonts/metro/MetroSans-LightItalic.otf
  docs/static/fonts/metro/MetroSans-Medium.otf
  docs/static/fonts/metro/MetroSans-MediumItalic.otf
  docs/static/fonts/metro/MetroSans-Regular.otf
  docs/static/fonts/metro/MetroSans-RegularItalic.otf
  docs/static/fonts/metro/MetroSans-SemiBold.otf
  docs/static/fonts/metro/MetroSans-SemiBoldItalic.otf
  docs/static/fonts/metro/metro-sans-bold.woff
  docs/static/fonts/metro/metro-sans-bold.woff2
  docs/static/fonts/metro/metro-sans-book.woff
  docs/static/fonts/metro/metro-sans-book.woff2
  docs/static/fonts/metro/metro-sans-regular.woff
  docs/static/fonts/metro/metro-sans-regular.woff2
  docs/static/fonts/metro/metro-sans-semi-bold.woff
  docs/static/fonts/metro/metro-sans-semi-bold.woff2
  docs/static/fonts/office-code-pro/OfficeCodePro-Regular.eot
  docs/static/fonts/office-code-pro/OfficeCodePro-Regular.otf
  docs/static/fonts/office-code-pro/OfficeCodePro-Regular.ttf
  docs/static/fonts/office-code-pro/OfficeCodePro-Regular.woff
  docs/static/fonts/office-code-pro/OfficeCodePro-Regular.woff2
Labels: @trubittech/docs

feat: polish config
  docs/docusaurus.config.js
Labels: @trubittech/docs

feat: add remaining component pages/navlinks
  docs/docs/ui/components/codeblock.md
  docs/docs/ui/components/icon.md
  docs/docs/ui/components/layout.md
  docs/docs/ui/components/popover.md
  docs/docs/ui/components/stx-address-input.md
  docs/docs/ui/components/text-input.md
  docs/docs/ui/components/text.md
  docs/docs/ui/components/tooltip.md
  docs/docs/ui/components/wallet-activity-feed.md
  docs/docusaurus.config.js
  docs/sidebars.js
Labels: @trubittech/docs

feat: upgrade yarn
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  yarn.lock
Labels: none

fix: cleanup of mdx components
  packages/docs/docs/ui/setup.md
  packages/docs/src/theme/MDXComponents.js
Labels: none

feat: sidebar navigation completed
  packages/docs/docs/components/button.md
  packages/docs/docs/components/codeblock.md
  packages/docs/docs/components/icon.md
  packages/docs/docs/components/layout/box.md
  packages/docs/docs/components/layout/flex.md
  packages/docs/docs/components/layout/grid.md
  packages/docs/docs/components/popover.md
  packages/docs/docs/components/stx-address-input.md
  packages/docs/docs/components/text-input.md
  packages/docs/docs/components/text.md
  packages/docs/docs/components/tooltip.md
  packages/docs/docs/components/wallet-activity-feed.md
  packages/docs/docs/getting-started/custom-themes.md
  packages/docs/docs/getting-started/setup.md
  packages/docs/docs/getting-started/styling.md
  packages/docs/docs/getting-started/theming.md
  packages/docs/docs/introduction.md
  packages/docs/docs/ui/components/layout.md
  packages/docs/docs/ui/overview/dependencies.mdx
  packages/docs/docs/ui/theming.md
  packages/docs/docusaurus.config.js
  packages/docs/sidebars.js
  packages/docs/src/css/custom.css
Labels: none

update
  .gitignore
  packages/gaia/src/constants.ts
  packages/gaia/src/modules/delete.ts
  packages/gaia/src/modules/get.ts
  packages/gaia/src/modules/list.ts
  packages/gaia/src/modules/put.ts
  packages/gaia/src/types.ts
Labels: none

update
  packages/gaia/src/modules/list.ts
  packages/gaia/src/types.ts
Labels: none

update
  packages/gaia/__tests__/getFile.test.ts
  packages/gaia/src/modules/delete.ts
  packages/gaia/src/modules/get.ts
Labels: none

update
  packages/gaia/README.md
Labels: none

update
  packages/gaia/README.md
Labels: none

Gaia updates
  .gitignore
  packages/gaia/README.md
  packages/gaia/__tests__/listFiles.test.ts
  packages/gaia/__tests__/operations.test.ts
  packages/gaia/src/constants.ts
  packages/gaia/src/modules/delete.ts
  packages/gaia/src/modules/get.ts
  packages/gaia/src/modules/list.ts
  packages/gaia/src/modules/put.ts
  packages/gaia/src/types.ts
Labels: none

restore operation.test.ts
  packages/gaia/__tests__/getFile.test.ts
  packages/gaia/__tests__/operations.test.ts
Labels: none

Minor revisions and code cleanup
  packages/gaia/__tests__/01.put.test.ts
  packages/gaia/__tests__/02.get.test.ts
  packages/gaia/__tests__/03.list.test.ts
  packages/gaia/__tests__/04.delete.test.ts
  packages/gaia/__tests__/getFile.test.ts
  packages/gaia/__tests__/listFiles.test.ts
  packages/gaia/__tests__/sample_accts.ts
  packages/gaia/src/constants.ts
  packages/gaia/src/modules/delete.ts
  packages/gaia/src/modules/get.ts
  packages/gaia/src/modules/list.ts
  packages/gaia/src/modules/put.ts
  packages/gaia/src/types.ts
Labels: none

feat: docusaurus polish/common props beginnings
  packages/docs/docs/components/button.md
  packages/docs/docs/components/button.mdx
  packages/docs/docs/getting-started/setup.md
  packages/docs/package.json
  packages/docs/src/components/CommonPropsList.tsx
  yarn.lock
Labels: none

fix: add .docusaurus to gitignore
  .gitignore
Labels: none

chore: move tests to stubs; add fixtures
  packages/gaia/__fixtures__/index.ts
  packages/gaia/__tests__/__stubs__/01.put.test.ts
  packages/gaia/__tests__/__stubs__/02.get.test.ts
  packages/gaia/__tests__/__stubs__/03.list.test.ts
  packages/gaia/__tests__/__stubs__/04.delete.test.ts
  packages/gaia/jest.config.js
Labels: none

fix: move sample account to fixtures
  packages/gaia/__fixtures__/index.ts
  packages/gaia/__fixtures__/sample-account.ts
Labels: none

fix: jest version pinning; test running for gaia
  package.json
  packages/ui/package.json
  yarn.lock
Labels: @trubittech/ui

fix: manifest updates for publishing
  applications/consumer-backend/package.json
  applications/mutable-nfts/package.json
  packages/docs/package.json
  packages/gaia/package.json
  yarn.lock
Labels: none

chore: set checksum behavior to update
  .yarnrc.yml
Labels: none

fix: error TS2322 in userModel.ts
  applications/consumer-backend/modules/user/userModel.ts
Labels: none

feat:added oauth module and facebook handling endpoints
  applications/consumer-backend/modules/index.ts
  applications/consumer-backend/modules/oauth/index.ts
  applications/consumer-backend/modules/oauth/oauthController.ts
  applications/consumer-backend/modules/oauth/oauthRoutes.ts
  applications/consumer-backend/package.json
  applications/consumer-backend/server.ts
Labels: none

chore:lockfile
  yarn.lock
Labels: none

added readme for testing facebook oauth locally
  applications/consumer-backend/README.md
Labels: none

changeset added
  .changeset/eight-monkeys-grow.md
Labels: infrastructure

improvement: use Facebook URLs via env vars
  applications/consumer-backend/README.md
  applications/consumer-backend/modules/oauth/oauthController.ts
Labels: none

Google OAuth Implementation
  applications/consumer-backend/README.md
  applications/consumer-backend/modules/oauth/oauthController.ts
  applications/consumer-backend/modules/oauth/oauthRoutes.ts
  applications/consumer-backend/package.json
  yarn.lock
Labels: none

changeset added after Google OAuth integration
  .changeset/chilled-dryers-deny.md
Labels: infrastructure

fix: remove D; fix eslint + prettier configuration
  .eslintrc.json
  applications/consumer-backend/. prettierrc
  applications/consumer-backend/package.json
  yarn.lock
Labels: none

fix: eslint + prettier conflicts
  .eslintrc.json
Labels: none

fix: remove 'use strict' in modules; remove require
  applications/consumer-backend/index.ts
  applications/consumer-backend/middlewares/genericErrorHandler.ts
  applications/consumer-backend/middlewares/notFoundErrorHandler.ts
  applications/consumer-backend/modules/oauth/oauthController.ts
  applications/consumer-backend/modules/oauth/oauthRoutes.ts
  applications/consumer-backend/modules/user/userController.ts
  applications/consumer-backend/modules/user/userRoutes.ts
  applications/consumer-backend/server.ts
  applications/consumer-backend/utils/logger/morgan.ts
  applications/consumer-backend/utils/logger/winston.ts
Labels: none

chore: prettier autoformatting
  applications/consumer-backend/modules/oauth/oauthController.ts
Labels: none

fix: add missing morgan types; remove colorize config
  applications/consumer-backend/package.json
  applications/consumer-backend/utils/logger/winston.ts
  yarn.lock
Labels: none

chore: combine imports for routers
  applications/consumer-backend/server.ts
Labels: none

fix: headers already sent error in error handler
  applications/consumer-backend/middlewares/genericErrorHandler.ts
Labels: none

feat: pull in support for google oauth
  applications/consumer-backend/README.md
  applications/consumer-backend/modules/oauth/oauthController.ts
  applications/consumer-backend/modules/oauth/oauthRoutes.ts
  applications/consumer-backend/package.json
  yarn.lock
Labels: none

chore: turn off rule for explicit anys
  .eslintrc.json
Labels: none

feat: add remaining work from google oauth branch
  .changeset/chilled-dryers-deny.md
  applications/consumer-backend/README.md
Labels: infrastructure

chore: default->named export for User model
  applications/consumer-backend/modules/user/userModel.ts
Labels: none
