Repository JoltzRewards/joltz, changes with the labels that .github/labeler.yml gives for each.
All labels: @trubittech/web-playground, @trubittech/docs, @trubittech/mutable-nft, @trubittech/ui, workflows, infrastructure

tweak: import updates; dotenv placement
  applications/consumer-backend/server.ts
Labels: none

chore: yarn lock updates
  yarn.lock
Labels: none

tweak: remove constants module for now
  applications/consumer-backend/utils/constants.ts
Labels: none

tweak: remove tslint
  applications/consumer-backend/tslint.json
Labels: none

chore: remove tslint-* dependencies
  applications/consumer-backend/package.json
  yarn.lock
Labels: none

fix: remove implementation of user creation
  applications/consumer-backend/modules/user/userController.ts
Labels: none

fix: use env for app.set; change base path for user route(s)
  applications/consumer-backend/server.ts
Labels: none

chore: theme-provider -> theme; cleanup and story updates for colors
  packages/ui/src/__stories__/color.stories.tsx
  packages/ui/src/__testing__/helpers.tsx
  packages/ui/src/index.ts
  packages/ui/src/stitches.config.ts
  packages/ui/src/theme/ThemeProvider.tsx
  packages/ui/src/theme/__tests__/context.tests.tsx
  packages/ui/src/theme/defaults/common.ts
  packages/ui/src/theme/defaults/dark-theme.ts
  packages/ui/src/theme/defaults/index.ts
  packages/ui/src/theme/defaults/light-theme.ts
  packages/ui/src/theme/defaults/utils.ts
  packages/ui/src/theme/index.ts
  packages/ui/src/theme/types.ts
  packages/ui/src/utils/index.ts
  packages/ui/src/utils/operations.ts
Labels: @trubittech/ui

feat: storybook upgrade; add missing find-root; add tinycolor utils
  package.json
  packages/ui/package.json
  yarn.lock
Labels: @trubittech/ui

chore: storybook styling/config tweaks
  packages/ui/.storybook/decorators/GlobalStyles.tsx
  packages/ui/.storybook/decorators/StoryWrapper.tsx
  packages/ui/.storybook/decorators/ThemeProvider.tsx
  packages/ui/.storybook/manager-head.html
  packages/ui/.storybook/manager.ts
  packages/ui/.storybook/preview.ts
  packages/ui/.storybook/theme.ts
Labels: @trubittech/ui

feat: palettes and default theme updates
  packages/ui/src/theme/ThemeProvider.tsx
  packages/ui/src/theme/defaults/common.ts
  packages/ui/src/theme/defaults/dark-theme.ts
  packages/ui/src/theme/defaults/index.ts
  packages/ui/src/theme/defaults/light-theme.ts
  packages/ui/src/theme/defaults/palettes/hero.ts
  packages/ui/src/theme/defaults/palettes/index.ts
  packages/ui/src/theme/defaults/palettes/plum.ts
  packages/ui/src/theme/defaults/palettes/trubit.json
  packages/ui/src/theme/defaults/tokens.ts
  packages/ui/src/theme/defaults/utils.ts
Labels: @trubittech/ui

feat: add animations and common utilities
  packages/ui/src/animations/fade.ts
  packages/ui/src/animations/index.ts
  packages/ui/src/animations/scale.ts
  packages/ui/src/animations/slide.ts
  packages/ui/src/common.ts
Labels: @trubittech/ui

feat: add text input
  packages/ui/src/text-input/TextInput.tsx
  packages/ui/src/text-input/__tests__/render.tests.tsx
  packages/ui/src/text-input/index.ts
  packages/ui/src/text-input/stories.tsx
Labels: @trubittech/ui

chore: remove button group for now
  packages/ui/src/button-group/ButtonGroup.tsx
  packages/ui/src/button-group/__tests__/render.tests.tsx
  packages/ui/src/button-group/index.ts
  packages/ui/src/button-group/stories.tsx
Labels: @trubittech/ui

feat: polish and theming for existing components
  packages/ui/src/button/Button.tsx
  packages/ui/src/button/stories.tsx
  packages/ui/src/codeblock/Codeblock.tsx
  packages/ui/src/codeblock/__tests__/render.tests.tsx
  packages/ui/src/codeblock/index.ts
  packages/ui/src/codeblock/stories.tsx
  packages/ui/src/icon/Icon.tsx
  packages/ui/src/index.ts
  packages/ui/src/layout/Box.tsx
  packages/ui/src/layout/Flex.tsx
  packages/ui/src/modal/Modal.tsx
  packages/ui/src/modal/stories.tsx
  packages/ui/src/popover/Popover.tsx
  packages/ui/src/popover/stories.tsx
  packages/ui/src/text/Text.tsx
  packages/ui/src/text/stories.tsx
  packages/ui/src/toolbar/Toolbar.tsx
  packages/ui/src/toolbar/stories.tsx
  packages/ui/src/tooltip/Tooltip.tsx
  packages/ui/src/tooltip/stories.tsx
Labels: @trubittech/ui

chore: secondary -> subtle
  packages/ui/src/button/Button.tsx
  packages/ui/src/button/stories.tsx
Labels: @trubittech/ui

docs: generated changeset
  .changeset/flat-monkeys-guess.md
Labels: infrastructure

feat: initialize gaia package and add put module
  packages/gaia/README.md
  packages/gaia/package.json
  packages/gaia/src/constants.ts
  packages/gaia/src/index.ts
  packages/gaia/src/modules/delete.ts
  packages/gaia/src/modules/get.ts
  packages/gaia/src/modules/index.ts
  packages/gaia/src/modules/list.ts
  packages/gaia/src/modules/put.ts
  packages/gaia/src/types.ts
  packages/gaia/tsconfig.json
Labels: none

chore: add gaia to preconstruct
  package.json
Labels: none

fix: add lodash.take to ui package
  packages/ui/package.json
  packages/ui/src/theme/defaults/utils.ts
  yarn.lock
Labels: @trubittech/ui

chore: add initial contributors info
  packages/gaia/package.json
Labels: none

feat: finish moving base funcs for put/list/delete/get
  packages/gaia/src/modules/delete.ts
  packages/gaia/src/modules/get.ts
  packages/gaia/src/modules/index.ts
  packages/gaia/src/modules/list.ts
  packages/gaia/src/modules/put.ts
  packages/gaia/src/types.ts
  tsconfig.base.json
Labels: none

feat: add initial tests for putFile
  packages/gaia/README.md
  packages/gaia/__tests__/operations.test.ts
  packages/gaia/__tests__/setup.ts
  packages/gaia/jest.config.js
  packages/gaia/package.json
  packages/gaia/tsconfig.json
  yarn.lock
Labels: none

chore: test cleanup/simplifying
  packages/gaia/__tests__/operations.test.ts
Labels: none

chore: add stubs for remaining operation types
  packages/gaia/__tests__/operations.test.ts
Labels: none

feat: add test step(s) to PR workflow
  .github/workflows/analyze_pull_request.yml
  packages/gaia/package.json
Labels: workflows

fix: working directory paths for workflow updates
  .github/workflows/analyze_pull_request.yml
Labels: workflows

test: test result path testing
  .github/workflows/analyze_pull_request.yml
  packages/gaia/test-results.json
Labels: workflows

test: trying assumed working directory for test results
  .github/workflows/analyze_pull_request.yml
Labels: workflows

test: :poop:
  .github/workflows/analyze_pull_request.yml
Labels: workflows

fix: add node/dependency installation
  .github/workflows/analyze_pull_request.yml
  .github/workflows/publish_new_releases.yml
Labels: workflows

test: add workspace prefix to jest:ci invocation
  .github/workflows/analyze_pull_request.yml
Labels: workflows

fix: jest:ci -> test:ci :poop:
  .github/workflows/analyze_pull_request.yml
Labels: workflows

test: trying path to gaia for test-results.json
  .github/workflows/analyze_pull_request.yml
Labels: workflows

test: yarn caching; more path reworking
  .github/workflows/analyze_pull_request.yml
  packages/gaia/test-results.json
Labels: workflows

test: logging pwd/contents of current dir
  .github/workflows/analyze_pull_request.yml
Labels: workflows

chore: :poop: :ambulance:
  .github/workflows/analyze_pull_request.yml
Labels: workflows

chore: workflow cleanup for merge prep
  .github/workflows/analyze_pull_request.yml
Labels: workflows

chore: heading polish for PR comment
  .github/workflows/analyze_pull_request.yml
Labels: workflows

feat: polished sidebar static assets/css
  docs/docs/README.md
  docs/docs/packages/components/buttons.md
  docs/docs/packages/components/theming.md
  docs/docs/ui/components/button.md
  docs/docs/ui/overview/dependencies.md
  docs/docs/ui/overview/design.md
  docs/docs/ui/setup.md
  docs/docs/ui/theming.md
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/static/img/logos/logomark-black.svg
  docs/static/img/logos/logomark-primary.svg
  docs/static/img/logos/logomark-white.svg
  docs/static/img/logos/logotext-mono-black.svg
  docs/static/img/logos/logotext-mono-white.svg
  docs/static/img/logos/logotext-primary-black.svg
  docs/static/img/logos/logotext-primary-white.svg
  docs/static/robots.txt
  yarn.lock
Labels: @trubittech/docs

.github/labeler.yml:

'@trubittech/web-playground':
  - applications/web-playground/*
  - applications/web-playground/**/*

'@trubittech/docs':
  - docs/*
  - docs/**/*

'@trubittech/mutable-nft':
  - packages/mutable-nft/*
  - packages/mutable-nft/**/*

'@trubittech/ui':
  - packages/ui/*
  - packages/ui/**/*

'workflows':
  - .github/workflows/*

'infrastructure':
  - .changeset/**/*
  - .husky/**/*
