Repository JoltzRewards/joltz, changes with the labels that .github/labeler.yml gives for each.
All labels: @trubittech/web-playground, @trubittech/docs, @trubittech/mutable-nft, @trubittech/ui, workflows, infrastructure

test: added web-next
  applications/web-next/.eslintrc.json
  applications/web-next/.gitignore
  applications/web-next/.oldbabels
  applications/web-next/README.md
  applications/web-next/components/Layout.tsx
  applications/web-next/components/styles.module.css
  applications/web-next/lib/auth/context.tsx
  applications/web-next/lib/auth/hooks.ts
  applications/web-next/lib/auth/index.ts
  applications/web-next/lib/constants.ts
  applications/web-next/lib/contracts.ts
  applications/web-next/lib/index.ts
  applications/web-next/next-env.d.ts
  applications/web-next/next.config.js
  applications/web-next/package.json
  applications/web-next/pages/_app.tsx
  applications/web-next/pages/api/hello.ts
  applications/web-next/pages/components/index.tsx
  applications/web-next/pages/index.tsx
  applications/web-next/postcss.config.js
  applications/web-next/public/favicon.ico
  applications/web-next/public/stacks-stx-logo.png
  applications/web-next/public/trubit-black.svg
  applications/web-next/public/trubit.svg
  applications/web-next/public/vercel.svg
  applications/web-next/styles/Home.module.css
  applications/web-next/styles/globals.css
  applications/web-next/tailwind.config.js
  applications/web-next/tsconfig.json
  yarn.lock
Labels: none

feat: route tweaks and Footer component
  applications/web-next/.eslintrc.json
  applications/web-next/components/Footer.tsx
  applications/web-next/components/Layout.tsx
  applications/web-next/pages/showcase/index.tsx
Labels: none

fix: remove eslint/babel overrides
  applications/web-playground/.babelold
  applications/web-playground/.eslintold
Labels: @trubittech/web-playground

fix: footer component links
  applications/web-playground/components/Footer.tsx
Labels: @trubittech/web-playground

fix: peer dep updates/component cleanup
  packages/ui/package.json
  packages/ui/src/button/Button.tsx
  packages/ui/src/toolbar/Toolbar.tsx
Labels: @trubittech/ui

fix: react resolution issues; stitches style insertion
  applications/web-playground/components/Footer.tsx
  applications/web-playground/components/Layout.tsx
  applications/web-playground/next.config.js
  applications/web-playground/package.json
  applications/web-playground/pages/_document.tsx
  applications/web-playground/pages/showcase/index.tsx
Labels: @trubittech/web-playground

fix: package globs
  docs/package.json
  package.json
  yarn.lock
Labels: @trubittech/docs

feat: add ThemeProvider
  packages/ui/src/index.ts
  packages/ui/src/theme-provider/ThemeProvider.tsx
  packages/ui/src/theme-provider/index.ts
Labels: @trubittech/ui

feat: add storybook support/config
  packages/ui/.storybook/main.js
  packages/ui/.storybook/preview.js
  packages/ui/package.json
  yarn.lock
Labels: @trubittech/ui

feat: add initial stories for Button/ThemeProvider
  packages/ui/src/button/stories.tsx
  packages/ui/src/theme-provider/stories.tsx
Labels: @trubittech/ui

feat: add custom storybook theme
  packages/ui/.storybook/manager.js
  packages/ui/.storybook/theme.js
Labels: @trubittech/ui

feat: add decorator for library ThemeProvider
  packages/ui/.storybook/decorators/ThemeProvider.tsx
  packages/ui/.storybook/preview.js
  packages/ui/.storybook/theme.js
Labels: @trubittech/ui

feat: badge addon and config for storybook
  packages/ui/.storybook/constants.ts
  packages/ui/.storybook/main.js
  packages/ui/.storybook/preview.js
  packages/ui/package.json
  yarn.lock
Labels: @trubittech/ui

feat: decorators, config, styling for storybook
  packages/ui/.storybook/decorators/GlobalStyles.tsx
  packages/ui/.storybook/decorators/StoryWrapper.tsx
  packages/ui/.storybook/decorators/index.ts
  packages/ui/.storybook/index.ts
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/manager.ts
  packages/ui/.storybook/preview.ts
  packages/ui/.storybook/theme.ts
Labels: @trubittech/ui

feat: theme provider tweaks
  packages/ui/src/theme-provider/ThemeProvider.tsx
  packages/ui/src/theme-provider/stories.tsx
  packages/ui/src/theming/ThemeProvider.tsx
Labels: @trubittech/ui

feat: layout and text boilerplates
  packages/ui/src/button/Button.tsx
  packages/ui/src/button/stories.tsx
  packages/ui/src/index.ts
  packages/ui/src/layout/Box.tsx
  packages/ui/src/layout/Flex.tsx
  packages/ui/src/layout/Grid.tsx
  packages/ui/src/layout/index.ts
  packages/ui/src/layout/stories.tsx
  packages/ui/src/text/Text.tsx
  packages/ui/src/text/index.ts
  packages/ui/src/text/stories.tsx
Labels: @trubittech/ui

feat: add jest / testing-library and configuration
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/__testing__/helpers.tsx
  packages/ui/src/__testing__/index.ts
  yarn.lock
Labels: @trubittech/ui

feat: expand ThemeProvider and write initial tests
  packages/ui/src/theme-provider/ThemeProvider.tsx
  packages/ui/src/theme-provider/__tests__/context.tests.tsx
Labels: @trubittech/ui

feat: stitches import update; handful of boilerplate components
  packages/ui/src/button/Button.tsx
  packages/ui/src/icon/Icon.tsx
  packages/ui/src/index.ts
  packages/ui/src/layout/Box.tsx
  packages/ui/src/layout/Flex.tsx
  packages/ui/src/layout/Grid.tsx
  packages/ui/src/modal/Modal.tsx
  packages/ui/src/modal/index.ts
  packages/ui/src/modal/stories.tsx
  packages/ui/src/stitches.config.ts
  packages/ui/src/text/Text.tsx
  packages/ui/src/theming/index.ts
  packages/ui/src/toolbar/Toolbar.tsx
Labels: @trubittech/ui

feat: add hygen with helpers and component scaffold
  .hygen.js
  .templates/component/new/Component.ejs.t
  .templates/component/new/index.ejs.t
  .templates/component/new/module-interface.ejs.t
  .templates/component/new/tests.ejs.t
  .templates/generator/help/index.ejs.t
  .templates/generator/new/hello.ejs.t
  .templates/generator/with-prompt/hello.ejs.t
  .templates/generator/with-prompt/prompt.ejs.t
  .templates/init/repo/new-repo.ejs.t
  package.json
  packages/ui/src/index.ts
  yarn.lock
Labels: @trubittech/ui

fix: oops; removed test export
  packages/ui/src/index.ts
Labels: @trubittech/ui

feat: add storybook template for component generator
  .templates/component/new/stories.ejs.t
Labels: none

feat: generate component foundations
  packages/ui/src/button-group/ButtonGroup.tsx
  packages/ui/src/button-group/__tests__/render.tests.tsx
  packages/ui/src/button-group/index.ts
  packages/ui/src/button-group/stories.tsx
  packages/ui/src/codeblock/Codeblock.tsx
  packages/ui/src/codeblock/__tests__/render.tests.tsx
  packages/ui/src/codeblock/index.ts
  packages/ui/src/codeblock/stories.tsx
  packages/ui/src/index.ts
  packages/ui/src/popover/Popover.tsx
  packages/ui/src/popover/__tests__/render.tests.tsx
  packages/ui/src/popover/index.ts
  packages/ui/src/popover/stories.tsx
  packages/ui/src/stx-address-input/StxAddressInput.tsx
  packages/ui/src/stx-address-input/__tests__/render.tests.tsx
  packages/ui/src/stx-address-input/index.ts
  packages/ui/src/stx-address-input/stories.tsx
  packages/ui/src/tooltip/Tooltip.tsx
  packages/ui/src/tooltip/__tests__/render.tests.tsx
  packages/ui/src/tooltip/index.ts
  packages/ui/src/tooltip/stories.tsx
  packages/ui/src/transition/Transition.tsx
  packages/ui/src/transition/__tests__/render.tests.tsx
  packages/ui/src/transition/index.ts
  packages/ui/src/transition/stories.tsx
  packages/ui/src/wallet-activity-feed/WalletActivityFeed.tsx
  packages/ui/src/wallet-activity-feed/__tests__/render.tests.tsx
  packages/ui/src/wallet-activity-feed/index.ts
  packages/ui/src/wallet-activity-feed/stories.tsx
Labels: @trubittech/ui

feat: add missing stories; organize story navigation
  packages/ui/src/button-group/stories.tsx
  packages/ui/src/button/stories.tsx
  packages/ui/src/codeblock/stories.tsx
  packages/ui/src/icon/__tests__/render.tests.tsx
  packages/ui/src/icon/stories.tsx
  packages/ui/src/layout/stories.tsx
  packages/ui/src/modal/stories.tsx
  packages/ui/src/popover/stories.tsx
  packages/ui/src/stx-address-input/stories.tsx
  packages/ui/src/text/stories.tsx
  packages/ui/src/toolbar/stories.tsx
  packages/ui/src/tooltip/stories.tsx
  packages/ui/src/transition/stories.tsx
  packages/ui/src/wallet-activity-feed/stories.tsx
Labels: @trubittech/ui

feat: added design system/global stories support and colors story
  packages/ui/.storybook/main.ts
  packages/ui/src/__stories__/color.stories.tsx
  packages/ui/src/button/Button.tsx
  packages/ui/src/button/stories.tsx
Labels: @trubittech/ui

feat: story subtitle updates/layout component tweaks
  packages/ui/src/icon/stories.tsx
  packages/ui/src/layout/Grid.tsx
  packages/ui/src/stitches.config.ts
  packages/ui/src/stx-address-input/stories.tsx
Labels: @trubittech/ui

feat: consumer backend foundation code
  applications/consumer-backend/. prettierrc
  applications/consumer-backend/.gitignore
  applications/consumer-backend/README.md
  applications/consumer-backend/index.ts
  applications/consumer-backend/middlewares/genericErrorHandler.ts
  applications/consumer-backend/middlewares/notFoundErrorHandler.ts
  applications/consumer-backend/modules/index.ts
  applications/consumer-backend/modules/user/index.ts
  applications/consumer-backend/modules/user/userController.ts
  applications/consumer-backend/modules/user/userModel.ts
  applications/consumer-backend/modules/user/userRoutes.ts
  applications/consumer-backend/nodemon.json
  applications/consumer-backend/package.json
  applications/consumer-backend/server.ts
  applications/consumer-backend/tsconfig.json
  applications/consumer-backend/tslint.json
  applications/consumer-backend/utils/constants.ts
  applications/consumer-backend/utils/environmentVaribales.ts
  applications/consumer-backend/utils/logger/morgan.ts
  applications/consumer-backend/utils/logger/winston.ts
  applications/consumer-backend/utils/mongo.ts
Labels: none

added changeset
  .changeset/nine-parrots-juggle.md
  yarn.lock
Labels: infrastructure

linting
  applications/consumer-backend/index.ts
  applications/consumer-backend/middlewares/genericErrorHandler.ts
  applications/consumer-backend/middlewares/notFoundErrorHandler.ts
  applications/consumer-backend/modules/index.ts
  applications/consumer-backend/modules/user/index.ts
  applications/consumer-backend/modules/user/userController.ts
  applications/consumer-backend/modules/user/userModel.ts
  applications/consumer-backend/modules/user/userRoutes.ts
  applications/consumer-backend/server.ts
  applications/consumer-backend/utils/constants.ts
  applications/consumer-backend/utils/environmentVaribales.ts
  applications/consumer-backend/utils/logger/morgan.ts
  applications/consumer-backend/utils/logger/winston.ts
Labels: none

removed mongo
  applications/consumer-backend/server.ts
  applications/consumer-backend/utils/mongo.ts
Labels: none

removed unwanted fields in userModel
  applications/consumer-backend/modules/user/userModel.ts
Labels: none

added types responses for userController
  applications/consumer-backend/modules/user/userController.ts
  applications/consumer-backend/utils/responseHandler.ts
Labels: none

standardizing userRoutes
  applications/consumer-backend/modules/user/userRoutes.ts
Labels: none

moved the env imports to the top
  applications/consumer-backend/utils/logger/morgan.ts
  applications/consumer-backend/utils/logger/winston.ts
Labels: none

added couple of packages
  applications/consumer-backend/package.json
Labels: none

adding DID property in userModel
  applications/consumer-backend/modules/user/userModel.ts
  applications/consumer-backend/server.ts
Labels: none

fix: env vars module name typo
  applications/consumer-backend/utils/environmentVariables.ts
Labels: none

chore: add module interfaces
  applications/consumer-backend/middlewares/index.ts
  applications/consumer-backend/utils/index.ts
  applications/consumer-backend/utils/logger/index.ts
Labels: none

fix: migrate to named exports; fix resulting broken imports
  applications/consumer-backend/index.ts
  applications/consumer-backend/middlewares/genericErrorHandler.ts
  applications/consumer-backend/middlewares/notFoundErrorHandler.ts
  applications/consumer-backend/modules/user/userController.ts
  applications/consumer-backend/modules/user/userModel.ts
  applications/consumer-backend/modules/user/userRoutes.ts
  applications/consumer-backend/utils/environmentVariables.ts
  applications/consumer-backend/utils/logger/index.ts
  applications/consumer-backend/utils/logger/winston.ts
Labels: none

tweak: remove identifying info from root response
  applications/consumer-backend/server.ts
Labels: none

.github/labeler.yml:

'@trubittech/web-playground':
  - applications/web-playground/*
  - applications/web-playground/**/*

'@trubittech/docs':
  - docs/*
  - docs/**/*

'@trubittech/mutable-nft':
  - packages/mutable-nft/*
  - packages/mutable-nft/**/*

'@trubittech/ui':
  - packages/ui/*
  - packages/ui/**/*

'workflows':
  - .github/workflows/*

'infrastructure':
  - .changeset/**/*
  - .husky/**/*
