Repository JoltzRewards/joltz, changes with the labels that .github/labeler.yml gives for each.
All labels: @trubittech/web-playground, @trubittech/docs, @trubittech/mutable-nft, @trubittech/ui, workflows, infrastructure

fix: eslint plugin conflicts
  .yarnrc.yml
Labels: none

fix: eslint react conflicts
  packages/web-playground/.eslintrc.json
Labels: @trubittech/web-playground

fix: duplicate object keys
  packages/ui/src/toolbar/Toolbar.tsx
Labels: @trubittech/ui

feat: add components showcase route for ui testing
  packages/web-playground/src/App.tsx
  packages/web-playground/src/Layout.tsx
  packages/web-playground/src/pages/ui-showcase.tsx
Labels: @trubittech/web-playground

docs: add changeset for ui
  .changeset/nice-cougars-serve.md
Labels: infrastructure

fix: prettier/linting issues; babel build issues
  babel.config.js
  babel.config.json
  packages/ui/.babelrc.json
  packages/ui/package.json
  packages/ui/src/toolbar/Toolbar.tsx
  packages/ui/tsconfig-rollup.json
  packages/web-playground/src/components/Button.tsx
  packages/web-playground/src/components/STXAddressInput.tsx
  packages/web-playground/src/components/STXBlockHeightInput.tsx
  packages/web-playground/src/lib/auth.ts
  packages/web-playground/src/lib/constants.ts
  packages/web-playground/src/modules/auth/context.tsx
  packages/web-playground/src/modules/contract-gui/views/ContractGui.tsx
  packages/web-playground/src/reportWebVitals.ts
  yarn.lock
Labels: @trubittech/web-playground, @trubittech/ui

chore: generate new changeset for release
  .changeset/lemon-bikes-return.md
Labels: infrastructure

.github/labeler.yml:

'@trubittech/web-playground':
  - packages/web-playground/*
  - packages/web-playground/**/*

'@trubittech/docs':
  - packages/docs/*
  - packages/docs/**/*

'@trubittech/mutable-nft':
  - packages/mutable-nft/*
  - packages/mutable-nft/**/*

'@trubittech/ui':
  - packages/ui/*
  - packages/ui/**/*

'workflows':
  - .github/workflows/*

'infrastructure':
  - .changeset/**/*
  - .husky/**/*
